<div class="container mt-5 d-flex flex-column align-items-center justify-content-center" *ngIf="!loading; else loadingSpinner">
    <ngx-charts-bar-horizontal 
        [view]="view" 
        [scheme]="colorScheme" 
        [results]="single" 
        [gradient]="gradient"
        [xAxis]="showXAxis" 
        [yAxis]="showYAxis" 
        [legend]="showLegend" 
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel" 
        [xAxisLabel]="xAxisLabel" 
        [yAxisLabel]="yAxisLabel">
    </ngx-charts-bar-horizontal>

    <ngx-charts-pie-chart class="mt-5" 
        [view]="view" 
        [scheme]="colorScheme" 
        [results]="single" 
        [gradient]="gradient"
        [legend]="showLegend">
    </ngx-charts-pie-chart>
</div>


<ng-template #loadingSpinner>
    <div class="text-center mt-5">
        <div class="spinner-border">
            <span class="visually-hidden">Carregando...</span>
        </div>
        <p>Carregando graficos...</p>
    </div>
</ng-template>

